---
// --- Components ---
import Image from "astro/components/Image.astro";
// -- SVGs -- 
import devLogo from "../content/icons/command-line-logo.svg?raw";
import githubLogo from "../content/icons/contacts/github-logo.svg?raw";
import linkedinLogo from "../content/icons/contacts/linkedin-logo.svg?raw";
import gumroadLogo from "../content/icons/contacts/gumroad-logo.svg?raw";
import xLogo from "../content/icons/contacts/x-logo.svg?raw";
// -- Images --
import LeftoversLogo from "../content/images/LEFTOVERS_LOGO.png";
import PawsLogo from "../content/images/PAWS_LOGO.png";
import Memoji from "../content/images/memoji.png";
// import topographImg from "../content/images/vector-black-topographic-map-lines-background.jpg";
---
<div class="w-full max-w-2xl flex justify-center my-6 mx-auto multi-col:fixed multi-col:justify-end multi-col:right-1/20 2xl:right-1/10 multi-col:my-0 multi-col:mx-0">
  <div class="w-full flex flex-col justify-between items-center">
    <!-- Business Card -->
    <div class="flex flex-col justify-between rounded-2xl backdrop-blur-md bg-off-black-transparent-dark border-4 border-off-white-transparent/10 shadow-lg w-full multi-col:min-w-fit multi-col:w-112 h-96 p-6 text-off-white">
      <div class="flex flex-row w-full items-center">
        <!-- <div class="flex-none h-14 w-14 mr-2">
          <Fragment set:html={devLogo} alt="Command Line Logo" class="h-full w-full" />
        </div> -->
        <div class="flex flex-col w-full">
          <!-- Spinner -->
          <div>
            <div class="absolute z-10 inset-x-auto inset-y-auto bg-off-white-transparent-dark rounded-full flex items-center justify-center">
              <Image src={Memoji} alt="Personal Memoji" class="h-16 w-16" />
            </div>
            <div class="absolute h-12 w-12 grid grid-cols-3 gap-cols-px justify-items-center animate-spin-slow">
              <div class="relative bg-blue-highlight rounded-full h-12 w-12 blur-xl"></div>
              <div class="relative bg-purple-highlight rounded-full h-12 w-12 blur-xl"></div>
              <div class="relative bg-red-highlight rounded-full h-12 w-12 blur-2xl"></div>
            </div>
          </div>
          <div class="flex flex-row justify-end items-center h-14">
            <h1 class="uppercase text-3xl font-bold">
              Josh Stubbington
            </h1>
          </div>
          <div class="flex flex-row justify-between mt-4 px-1">
            <p class="text-xs leading-5 font-medium">
              Mechanical Engineer → Software Developer
            </p>
            <p class="text-sm font-medium">
              Ottawa, Ontario
            </p>
          </div>
        </div>
      </div>
      <!-- Topographic Image -->
      <!-- <div class="w-full h-36 rounded-xl mt-2 mb-6">
        <Image src={topographImg} alt="Topographic Map" class="object-cover h-full w-full rounded-xl" />
      </div> -->
      <div class="grid grid-cols-2 gap-4 my-2">
        <a href="https://github.com/ayfor" target="_blank" class="flex items-center px-3 py-2 text-sm hover:shadow-lg hover:bg-off-white-transparent rounded-md cursor-pointer ease-in-out duration-300 hover:scale-105 transition">
          <Fragment set:html={githubLogo} alt="GitHub Logo"/>
          <span class="ml-2 inline">Follow on GitHub</span>
        </a> 
        <a href="https://www.linkedin.com/in/joshua-stubbington/" target="_blank" class="flex items-center px-3 py-2 text-sm hover:shadow-lg hover:bg-off-white-transparent rounded-md cursor-pointer ease-in-out duration-300 hover:scale-105 transition">
          <Fragment set:html={linkedinLogo} alt="LinkedIn Logo"/>
          <span class="ml-2 inline">Connect on LinkedIn</span>
        </a>
        <a href="https://twitter.com/joshstubbington" target="_blank" class="flex items-center px-3 py-2 text-sm hover:shadow-lg hover:bg-off-white-transparent rounded-md cursor-pointer ease-in-out duration-300 hover:scale-105 transition">
          <Fragment set:html={xLogo} alt="X Logo"/>
          <span class="ml-2 inline">Follow on X</span>
        </a>
        <a href="https://stubbington.gumroad.com/subscribe" target="_blank" class="flex items-center px-3 py-2 text-sm hover:shadow-lg hover:bg-off-white-transparent rounded-md cursor-pointer ease-in-out duration-300 hover:scale-105 transition">
          <Fragment set:html={gumroadLogo} alt="Gumroad Logo"/>
          <span class="ml-2 inline">Shop on Gumroad</span>
        </a>
      </div>
      <div class="grid grid-row-2 gap-4 h-fit mx-2 font-semibold">
        <a href="./Joshua_Stubbington_Resume.pdf" target="_blank" class="flex justify-center items-center w-full h-12 rounded-md bg-transparent border-solid border-2 border-off-white-transparent-dark hover:border-blue-highlight shadow-sm hover:shadow-md ease-in-out duration-300 hover:scale-105 active:scale-95 transition">
          Download Resume
        </a>
        <a href="#contact-heading" class="flex justify-center items-center w-full h-12 rounded-md bg-off-white-transparent hover:bg-purple-highlight hover:shadow-md ease-in-out duration-300 hover:scale-105 active:scale-95 transition">
          Contact Me
        </a>
      </div>
    </div>
    <!-- Pinned Projects -->
    <div class="w-full multi-col:min-w-fit multi-col:w-112 my-3 sm:my-7 wide:my-22 backdrop-blur-lg border-4 border-blue-highlight/20 bg-off-white-transparent p-4 rounded-2xl shadow-xl">
      <h2 class="font-bold text-2xl">
        Pinned Projects
      </h2>
      <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6">
        <a href="#pinned-project-1">
          <li class="col-span-1 flex rounded-lg hover:shadow-lg ease-in-out duration-300 transition hover:scale-105 p-2">
            <Image src={LeftoversLogo} alt="Leftovers Logo" class="shadow-md h-14 w-14 rounded-md" />
            <div class="flex flex-1 items-center justify-between truncate bg-transparent">
              <div class="flex-1 truncate px-4 py-2 text-sm cursor-pointer">
                <p class="font-medium">Leftovers</p>
                <p class="text-off-black/60">Q2 2024</p>
              </div>
              <div class="flex-shrink-0 pr-2">
                <div class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-transparent focus:outline-none hover:ring-2 hover:ring-blue-highlight/50 hover:bg-purple-highlight/50 focus:ring-offset-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                  </svg>                              
                </div>
              </div>
            </div>
          </li>
        </a>
        <a href="#pinned-project-2">
          <li class="col-span-1 flex rounded-lg hover:shadow-lg ease-in-out duration-300 transition hover:scale-105 p-2">
            <Image src={PawsLogo} alt="PAWs Logo" class="shadow-md h-14 w-14 rounded-md" />
            <div class="flex flex-1 items-center justify-between truncate bg-transparent">
              <div class="flex-1 truncate px-4 py-2 text-sm cursor-pointer">
                <p class="font-medium">PAWs</p>
                <p class="text-off-black/60">Q3 2024</p>
              </div>
              <div class="flex-shrink-0 pr-2">
                <div class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-transparent focus:outline-none hover:ring-2 hover:ring-purple-highlight/50 hover:bg-blue-highlight/50 focus:ring-offset-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                  </svg>                              
                </div>
              </div>
            </div>
          </li>
        </a>
      </ul>
    </div>
</div>