---
// --- Components ---
import Image from "astro/components/Image.astro";
// -- SVGs -- 
import devLogo from "../content/icons/command-line-logo.svg?raw";
import githubLogo from "../content/icons/contacts/github-logo.svg?raw";
import linkedinLogo from "../content/icons/contacts/linkedin-logo.svg?raw";
import gumroadLogo from "../content/icons/contacts/gumroad-logo.svg?raw";
import xLogo from "../content/icons/contacts/x-logo.svg?raw";
// -- Images --
// import topographImg from "../content/images/vector-black-topographic-map-lines-background.jpg";
---
<div class="flex justify-center max-w-2xl w-full">
  <div class="flex flex-col justify-center items-center">
    <!-- Business Card -->
    <div class="flex flex-col justify-between rounded-2xl bg-off-black min-w-fit w-112 h-88 p-6 text-off-white">
      <div class="flex flex-row w-full items-center">
        <div class="flex-none h-14 w-14 mr-2">
          <Fragment set:html={devLogo} alt="Command Line Logo" class="h-full w-full" />
        </div>
        <div class="flex flex-col max-w-5xl">
          <h1 class="uppercase text-3xl">
            Joshua Stubbington
          </h1>
          <div class="flex flex-row justify-between">
            <p class="text-sm">
              Software Engineer
            </p>
            <p class="text-sm">
              Ottawa, Ontario
            </p>
          </div>
        </div>
      </div>
      <!-- Topographic Image -->
      <!-- <div class="w-full h-36 rounded-xl mt-2 mb-6">
        <Image src={topographImg} alt="Topographic Map" class="object-cover h-full w-full rounded-xl" />
      </div> -->
      <div class="grid grid-cols-2 gap-4 my-8">
        <div class="flex items-center p-1 text-sm font-light hover:text-blue-highlight hover:bg-off-white-transparent rounded-md cursor-pointer">
          <Fragment set:html={githubLogo} alt="GitHub Logo"/>
          <span class="ml-2 inline">Follow on GitHub</span>
        </div>
        <div class="flex items-center p-1 text-sm font-light hover:text-blue-highlight hover:bg-off-white-transparent rounded-md cursor-pointer">
          <Fragment set:html={linkedinLogo} alt="LinkedIn Logo"/>
          <span class="ml-2 inline">Connect on LinkedIn</span>
        </div>
        <div class="flex items-center p-1 text-sm font-light hover:text-blue-highlight hover:bg-off-white-transparent rounded-md cursor-pointer">
          <Fragment set:html={xLogo} alt="X Logo"/>
          <span class="ml-2 inline">Follow on X</span>
        </div>
        <div class="flex items-center p-1 text-sm font-light hover:text-blue-highlight hover:bg-off-white-transparent rounded-md cursor-pointer">
          <Fragment set:html={gumroadLogo} alt="Gumroad Logo"/>
          <span class="ml-2 inline">Shop on Gumroad</span>
        </div>
      </div>
      <div class="grid grid-row-2 gap-4 h-100">
        <button class="w-full h-12 rounded-xl bg-transparent border-solid border-2 border-off-white">
          Download Resume
        </button>
        <button class="w-full h-12 rounded-xl bg-blue-highlight">
          Contact Me
        </button>
      </div>
    </div>
    <div class="w-full my-2">
      <h2 class="font-bold text-2xl">
        Pinned Projects
      </h2>
      <div class="grid grid-cols-1 w-full">
        <div class="relative w-full flex items-center rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Leslie Alexander</p>
              <p class="truncate text-sm text-gray-500">Co-Founder / CEO</p>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>