---
// --- Components ---
import Image from "astro/components/Image.astro";
// --- Images ---
import LeftoversLogo from "../content/images/LEFTOVERS_LOGO.png";
import PawsLogo from "../content/images/PAWS_LOGO.png";
import RailsLogo from "../content/images/rails_logo.png";
import RubyLogo from "../content/images/ruby_logo.png";
import SqlLogo from "../content/images/sql_logo.png";
import TypeScriptLogo from "../content/images/typescript_logo.png";
import NextJsLogo from "../content/images/nextjs_logo.png";
import VoxexLogo from "../content/images/VOXEX_LOGO.png";
// --- Icons ---
import Icon from "heroicons-astro/Heroicon.astro";
// --- SVGs ---
import SpruceTotem from "../content/images/spruce-totem.svg?raw";
import SpruceTotemPurple from "../content/images/spruce-totem-p.svg?raw";
---
<div class="grid grid-cols-1 gap-10 w-full my-40">
  <h1 id="projects-heading" class="relative bottom-4 right-2 sm:right-0 multi-col:right-16 text-7xl sm:text-8xl multi-col:text-10xl wide:text-11xl uppercase outlined text-transparent">
    Projects
  </h1>
  
  <div class="absolute">
    <div class="absolute -z-15 top-[90rem] multi-col:top-[calc(58rem+15%)] left-0 w-100 multi-col:w-128 h-auto rotate-150 blur-2xl">
      <Fragment set:html={SpruceTotemPurple} class="h-16 w-auto"/>
    </div>
    <div class="absolute -z-10 top-[90rem] multi-col:top-[calc(60rem+15%)] left-0 w-100 multi-col:w-128 h-auto rotate-150 blur-2xl animate-pulse">
      <Fragment set:html={SpruceTotem} class="h-16 w-auto"/>
    </div>
  </div>
  <!-- Card Holder -->
  <div class="flex flex-col items-center">

    <!-- Leftovers Project Card -->
    <div id="pinned-project-1" class="my-8 flex flex-col min-h-content w-full wide:w-3/4 text-off-black font-regular rounded-xl shadow-md backdrop-blur-md bg-gradient-to-b from-purple-highlight/30 to-off-white-transparent-light to-50%">
      <!-- Project Tile Header -->
      <div class="h-fit-content flex flex-col drop-shadow-2xl">
        <div class="flex flex-row p-4 rounded-t-md">
          <Image src={LeftoversLogo} alt="Leftovers Logo" class="w-28 h-28" />
          <div>
            <h1 class="w-fit text-5xl wide:text-7xl px-5 font-medium text-off-black">
              Leftovers
            </h1>
            <p class="w-fit text-xl px-6 font-light text-off-black">
              Q2 2024 
            </p>
          </div>
        </div> 
        <div class="flex flex-row justify-center md:justify-end items-center px-4 my-2 w-full">
          <div class="grid grid-flow-col auto-cols-max gap-4">
            <div class="w-fit flex flex-row items-center bg-off-white-transparent-dark px-2 py-1 rounded-lg">
              <Image src={RailsLogo} alt="Rails Logo" class="h-6 w-6 multi-col:w-5 multi-col:h-5" />
              <p class="text-lg multi-col:text-md font-regular text-off-black pl-2">
                Rails
              </p>
            </div>
            <div class="w-fit flex flex-row items-center bg-off-white-transparent-dark px-2 py-1 rounded-lg">
              <Image src={RubyLogo} alt="Rails Logo" class="h-6 w-6 multi-col:w-5 multi-col:h-5" />
              <p class="text-lg multi-col:text-md font-regular text-off-black pl-2">
                Ruby
              </p>
            </div>
            <div class="w-fit flex flex-row items-center bg-off-white-transparent-dark px-2 py-1 rounded-lg">
              <Image src={SqlLogo} alt="Rails Logo" class="h-6 w-6 multi-col:w-4 multi-col:h-4" />
              <p class="text-lg multi-col:text-md font-regular text-off-black pl-2">
                SQL
              </p>
            </div>
            
          </div>
        </div>
      </div>
      <!-- Project Tile Body -->
      <div class="flex flex-row w-full bg-off-white-transparent-light rounded-b-md justify-between items-center p-4">
        <p class="w-1/2 text-md font-regular text-off-black">

          Leftovers is a user-friendly app for minimizing food waste. It tracks groceries and pantry contents, sends expiration date reminders, and suggests recipes to optimize food usage.        </p>
        <div class="grid grid-cols-1 gap-4 justify-start h-full w-1/4 py-12 wide:py-4">
          <a class="flex flex-row items-center text-off-black cursor-pointer duration-300 ease-in-out hover:underline hover:underline-offset-4 hover:scale-95">
            <p>
              Github
            </p>
            <Icon iconCode="link" iconStyle="outline" customClasses="ml-1 h-4 w-4" />
          </a>
          <p>
            Coming Soon
          </p>
        </div>
      </div>
    </div>

    <!-- PAWs Project Card -->
    <div id="pinned-project-2" class="my-8 flex flex-col min-h-content w-full wide:w-3/4 text-off-black font-regular rounded-xl shadow-md backdrop-blur-md bg-gradient-to-b from-blue-highlight/25 to-to-off-white-transparent-light to-50%">
      <!-- Project Tile Header -->
      <div class="h-fit-content flex flex-col drop-shadow-2xl">
        <div class="flex flex-row p-4 rounded-t-md">
          <Image src={PawsLogo} alt="Paws Logo" class="w-28 h-28 rounded-xl" />
          <div>
            <h1 class="w-fit text-5xl wide:text-7xl px-5 font-medium text-off-black">
              PAWS
            </h1>
            <p class="w-fit text-xl px-6 font-light text-off-black">
              Q3 2024 
            </p>
          </div>
        </div> 
        <div class="flex flex-row justify-center md:justify-end items-center px-4 my-2 w-full">
          <div class="grid grid-flow-col auto-cols-max gap-4">
            <div class="w-fit flex flex-row items-center bg-off-white-transparent-dark px-2 py-1 rounded-lg">
              <Image src={TypeScriptLogo} alt="Typescript Logo" class="h-6 w-6 multi-col:w-5 multi-col:h-5" />
              <p class="text-lg multi-col:text-md font-regular text-off-black pl-2">
                TypeScript
              </p>
            </div>
            <div class="w-fit flex flex-row items-center bg-off-white-transparent-dark px-2 py-1 rounded-lg">
              <Image src={NextJsLogo} alt="Next Js Logo" class="h-6 w-6 multi-col:w-5 multi-col:h-5" />
              <p class="text-lg multi-col:text-md font-regular text-off-black pl-2">
                Next.js
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Tile Body -->
      <div class="flex flex-row w-full bg-off-white-transparent-light rounded-b-md justify-between items-center p-4">
        <p class="w-1/2 text-md font-regular text-off-black">
          PAWS(Pet Adoption Website Service) is a white-label pet adoption service that enables small businesses and non-profits to effortlessly create customized adoption platforms, helping pets find their forever homes efficiently.
        </p>
        <div class="grid grid-cols-1 gap-4 justify-start h-full w-1/4 py-12 wide:py-4">
          <a class="flex flex-row items-center text-off-black cursor-pointer duration-500 ease-in-out hover:underline hover:underline-offset-4 hover:scale-95">
            <p>
              Github
            </p>
            <Icon iconCode="link" iconStyle="outline" customClasses="ml-1 h-4 w-4" />
          </a>
          <p>
            Coming Soon
          </p>
        </div>
      </div>
    </div>

    <!-- Voxex Project Card -->
    <div class="my-8 flex flex-col min-h-content w-full wide:w-3/4 text-off-black font-regular rounded-xl shadow-md backdrop-blur-md bg-gradient-to-b from-red-highlight/25 from-10% to-off-white-transparent-light to-50%">
      <!-- Project Tile Header -->
      <div class="h-fit-content flex flex-col drop-shadow-2xl">
        <div class="flex flex-row p-4 rounded-t-md">
          <Image src={VoxexLogo} alt="Paws Logo" class="w-28 h-28 rounded-xl" />
          <div>
            <h1 class="w-fit text-5xl wide:text-7xl px-5 font-medium text-off-black">
              Voxex
            </h1>
            <p class="w-fit text-xl px-6 font-light text-off-black">
              Q4 2024 
            </p>
          </div>
        </div> 
        <div class="flex flex-row justify-center md:justify-end items-center px-4 my-2 w-full">
          <div class="grid grid-flow-col auto-cols-max gap-4">
            <div class="w-fit flex flex-row items-center bg-off-white-transparent-dark px-2 py-1 rounded-lg">
              <Icon iconCode="question-mark-circle" customClasses="h-6 w-6 text-off-black multi-col:w-5 multi-col:h-5" />
              <p class="text-lg multi-col:text-md font-regular text-off-black pl-2">
                TBD
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Tile Body -->
      <div class="flex flex-row w-full bg-off-white-transparent-light  rounded-b-md justify-between items-center p-4">
        <p class="w-1/2 text-md font-regular text-off-black">
          An online platform offers a sophisticated solution for individuals and businesses seeking to access, showcase, and exchange premium 3D assets
        </p>
        <div class="grid grid-cols-1 gap-4 justify-start h-full w-1/4 py-12 wide:py-4">
          <p>
            Coming Soon
          </p>
        </div>
      </div>
    </div>
  </div>
</div>